<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/products}" th:object="${product}" method="post">
    <div>
        name: <input type="text" th:field="*{name}">
    </div>
    <div>price: <input type="text" th:field="*{price}"></div>
    <div>price: <input type="text" th:field="*{quantity}"></div>
    <div>
        <input type="submit" value="submit">
    </div>
</form>
</body>
</html>